BOT_TOKEN=123456789:replace_with_token_from_BotFather
BOT_USERNAME=AltCamSecurityUaBot
DATABASE_URL=postgresql+asyncpg://altcam_user:altcam_password@localhost:5432/altcam_bot
ADMIN_CHAT_ID=6095278040
ADMIN_IDS=6095278040
INSTALLER_GROUP_ID=-1003894699895
CLIENT_GROUP_ID=-1009876543210
CLIENT_GROUP_URL=https://t.me/replace_with_open_group
CHANNEL_ID=@replace_with_channel_username
SITE_LEAD_GROUP_ID=
SITE_PUBLIC_ORIGIN=https://oficeit-pixel.github.io
PORT=8000
SITE_URL=https://oficeit-pixel.github.io/alt-cam-security-ua/#top
CALCULATOR_URL=https://oficeit-pixel.github.io/alt-cam-security-ua/#calculator
TERMS_URL=https://oficeit-pixel.github.io/alt-cam-security-ua/terms-of-service.html
PRIVACY_URL=https://oficeit-pixel.github.io/alt-cam-security-ua/privacy-policy.html
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_DRIVE_FOLDER_ID=
MEDIA_RETENTION_DAYS=14
AUTO_CREATE_DB=false
